*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f5f9;
  height: 100vh;
}

.container {
  background-color: #1e293b;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h1 {
  color: #3b82f6;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  color: #f1f5f9;
  background-color: #0f172a;
  margin-bottom: 1.2rem;
}

button {
  background-color: #4182fa;
  padding: 0.6rem 0.8rem;
  color: #f1f5f9;
  font-size: 12px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #60a5fa;
}

.result {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #60a5fa;
  transition: all 2s ease-out;
}
